<div class="activity-useless">
    <div class="card-img">
        <img id="cardImg" src="../public/images/smry.png" alt="">
    </div>
    <div class="card-tip">
        <p class="tip-title">
            <%=data.tipTitle%>
        </p>
        <p>
            <%=data.message%>
                <!-- 您已参与过9.9元特价活动（每人仅限首次），如需继续体验服务，请联系本店工作人员办理会员卡 -->
        </p>
        <a href="./memberBenefits.html">点击查看会员权益>></a>
    </div>
</div>