/* 主色系 */
.J_selector_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 999;
}
.J_selector {
  box-sizing: border-box;
  position: fixed;
  width: 8.08rem;
  max-height: 8.24rem;
  left: 50%;
  margin-left: -4.04rem;
  top: 50%;
  margin-top: -4.12rem;
  background-color: #fff;
  z-index: 1000;
  height: auto;
  border-radius: 0.08rem;
}
.J_selector .selector-warpper {
  box-sizing: border-box;
  padding: 0.18666667rem 0.4rem 0 0.4rem;
}
.J_selector .selector-warpper .J_selectArea {
  max-height: 5.6rem;
  overflow-y: auto;
}
.J_selector .selector-warpper .J_selectArea .J_selectItem {
  display: block;
  line-height: 1.25333333rem;
  border-bottom: 1px solid #e4e4e4;
  font-size: 0.4rem;
  position: relative;
  padding-left: 0.6rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7.28rem;
  box-sizing: border-box;
}
.J_selector .selector-warpper .J_selectArea .J_selectItem span {
  line-height: 1.25333333rem;
  color: #282828;
}
.J_selector .selector-warpper .J_selectArea .J_selectItem .J_selectItem_circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid #d7d7d7;
  position: absolute;
  left: 0.04rem;
  top: 50%;
  margin-top: -7.5px;
}
.J_selector .selector-warpper .J_selectArea .J_selectItem .J_selectItem_circle .J_selectItem_square {
  width: 5px;
  height: 5px;
  background-color: #666666;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  left: 50%;
  margin-left: -2.5px;
}
.J_selector .selector-warpper .J_selectArea .J_selectItem.J_selected .J_selectItem_circle .J_selectItem_square {
  display: block;
}
.J_selector .selector-warpper .J_selectArea .J_selectItem:last-child {
  border-bottom: none;
}
.J_selector .select-menu-warpper {
  margin-top: 0.18666667rem;
  box-sizing: border-box;
  border-top: 1px solid #d7d7d7;
}
.J_selector .select-menu-warpper .J_cancleSelect,
.J_selector .select-menu-warpper .J_confirmSelect {
  width: 50%;
  box-sizing: border-box;
  height: 1.6rem;
  font-size: 0.45333333rem;
  color: #5995ff;
  text-align: center;
  float: left;
  line-height: 1.6rem;
}
.J_selector .select-menu-warpper .J_cancleSelect {
  border-right: 1px solid #d7d7d7;
}
