<div class="activity-inner">
    <div class="card-img">
        <img id="cardImg" src="<%=data.previewImage%>" alt="">
    </div>
    <div class="card-tip">
        <%=data.remarks%>
    </div>
</div>