.membership-item {
  background: #fff;
  margin-bottom: 0.26666667rem;
  display: flex;
  padding: 0.21333333rem;
}
.membership-item .membership-item-left {
  width: 50%;
  text-align: right;
}
.membership-item .membership-item-left img {
  width: 2.66666667rem;
  height: 1.44rem;
  vertical-align: top;
  margin-right: 0.13333333rem;
}
.membership-item .membership-item-right {
  padding-left: 0.13333333rem;
  font-size: 0.37333333rem;
  color: #333;
}
.membership-item .membership-item-right p:nth-of-type(1) {
  font-family: "PingFangSC-Medium";
  margin-bottom: 0.29333333rem;
  padding-top: 0.21333333rem;
}
.membership-item .membership-item-right p:nth-of-type(2) {
  font-family: "PingFangSC-Regular";
}
