.income-list .income-list-title {
  background: #ffd2d5;
  border-radius: 0.16rem 0.16rem 0 0;
}
.income-list ul {
  display: flex;
}
.income-list ul li {
  width: 25%;
  height: 1.28rem;
  line-height: 1.28rem;
  font-family: "PingFangSC-Regular";
  font-size: 0.37333333rem;
  color: #333;
  text-align: center;
  overflow: hidden;
}
.income-list .income-list-main ul:nth-of-type(odd) {
  background: #eee;
}
.income-list .income-list-main ul:nth-of-type(even) {
  background: #f3f3f3;
}
