<div class="scan-pay">
    <div class="banner">
        <img src="../public/images/smry.png" alt="" />
    </div>
    <div class="tip">
        <p>本次服务已开始</p>
        <p>设备正在运行中</p>
        <p>服务时间40分钟</p>
    </div>
</div>