body {
  background: #eee;
}
.member-card .card-img {
  background: #fff;
  padding: 0.4rem;
}
.member-card .card-img img {
  display: block;
  width: 7.86666667rem;
  height: auto;
  margin: 0 auto;
}
.member-card .card-content {
  background: #fff;
  padding: 0.13333333rem 0.4rem 0.66666667rem;
  font-family: "PingFangSC-Regular";
  font-size: 0.37333333rem;
  color: #666;
}
.member-card .card-content p {
  line-height: 1.6;
}
.member-card .card-content p span {
  color: #333;
  font-weight: bold;
}
.member-card .card-tip {
  font-family: "PingFangSC-Simbold";
  color: #333;
  font-size: 0.42666667rem;
  padding: 0.4rem;
  line-height: 1.6;
}
