<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="">
</head>

<body>
    <%=message%>
        <div class="form">
            <div>
                <span>渠道来源</span>
                <input type="text" class="source" value="gdt">
            </div>
            <div class="">
                <span>渠道名称</span>
                <input type="text" class="channel" value="gdtbc">
            </div>
            <div>
                <span>渠道转化ID</span>
                <input type="text" class="convert" value="12345">
            </div>
            <div class="">
                <span>开始序号</span>
                <input type="text" class="start" value="1">
            </div>
            <div class="">
                <span>结束序号</span>
                <input type="text" class="end" value="20">
            </div>
            <div>
                <button class="submit">提交</button>
            </div>
        </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="./javascripts/axios.min.js"></script>
<script src="./javascripts/channel.js"></script>

</html>