<div class="scan-pay">
    <div class="banner"><img src="../public/images/smry.png" alt="" /></div>
    <div class="tip">
        您将立即支付<span>20</span>元服务费开启体验本次美容服务项目
    </div>
    <div class="common-btn submit-btn">立即支付</div>
</div>