.sidebar {
  width: 100%;
}
.sidebar .sidebar-inner {
  width: 100%;
  word-wrap: break-word;
}
.sidebar .sidebar-inner .sidebar-list a {
  color: #fff;
  font-size: 16px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  overflow: hidden;
}
.sidebar .sidebar-inner .sidebar-list .sidebar-active {
  color: #f00 !important;
  background: #efefef;
}
.sidebar .sidebar-inner .sidebar-list .sub-active {
  background: #ccc;
  color: #333;
}
.sidebar .sidebar-inner .sub-link {
  display: none;
}
.sidebar .sidebar-inner .sub-link-active {
  display: block;
}
