<div class="tab-wrap">
    <%data.forEach(function(item){%>
        <div data-rel="<%=item.rel%>" data-type="<%=item.type%>" class="tab-item">
            <%=item.txt%>
        </div>
        <%})%>
</div>