<div class="confirm-service">
    <div class="user">
        <div class="user-info">
            <div class="user-info-left">
                <img id="profile" src="../public/images/profile.png" alt="">
            </div>
            <div class="user-info-right">
                <p><span class="user-name"><%=data.name%></span><span class="user-phone"><%=data.phoneNumber%></span></p>
                <p>推荐人:<span class="user-ups"><%=data.supeName%></span></div>
        </div>
    </div>

    <div class="confirm-btn">
        <div class="common-btn">确认</div>
    </div>
</div>