<div class="customer-scan">
    <div class="user-info">
        <div class="user-info-left">
            <img id="profile" src="http://imgtj.sumeiliti.com/profile.png" alt="">
        </div>
        <div class="user-info-right">
            <p><span class="user-name" id="name"><%=data.name%></span><span class="user-phone" id="phone"><%=data.phoneNumber%></span></p>
            <p>推荐人:<span class="user-ups" id="supeName"><%=data.supeName%></span></div>
    </div>
    <div class="user-code">
        <p class="user-code-title">立即体验，立即变美</p>
        <img id="userCodeImg" class="user-code-img" src="<%=data.qrPath%>" alt="">
    </div>
    <div class="user-tip">
        <p>请联系服务人员扫描您手机上的二维码<br>开始本次服务</p>
    </div>
</div>