<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的收益</title>
    <script src="../public/lib/rem.js" inline></script>
    <!-- <link rel="stylesheet" href="../public/stylesheets/common.css"> -->
    <!-- <link rel="stylesheet" href="../assets/income/index.css"> -->
</head>

<body>
    <div class="container">
        <div class="income-top">
            <div class="top-tab"></div>
            <div class="top-panel">
                <div id="panel1"></div>
                <div id="panel2"></div>
            </div>
        </div>
        <div class="income-list-wrap">
            <div id="list1"></div>
            <div id="list2"></div>
        </div>
        <div class="more-link" style="display: none;">
            查看更多
        </div>
    </div>
    </div>
</body>
<script src="../public/lib/zepto.js"></script>
<script src="../dist/income/index.js "></script>

</html>