<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>体验卡</title>
    <script src="../public/lib/rem.js" inline></script>
    <!-- <link rel="stylesheet" href="../public/stylesheets/common.css"> -->
    <!-- <link rel="stylesheet" href="../assets/paySuccess/index.css"> -->
</head>

<body>
    <div class="container">
        <div class="top-img">
            <img src="../public/images/smry.png" alt="">
        </div>
        <div class="product-wrap">

        </div>
    </div>
</body>
<script src="../public/lib/zepto.js"></script>
<script src="../dist/paySuccess/index.js "></script>

</html>