<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人头像</title>
    <script src="../public/lib/rem.js"></script>
</head>

<body ontouchstart="">
    <div id="clipArea"></div>
    <div id="view" style="display:none;"></div>
    <div class="default">
        <div class="default-img">
            <img id="defaultImg" src="" alt="">
            <input class="file" type="file" id="file">
        </div>
    </div>
    <div class="operate" style="display: none;">
        <ul class="operate-item">
            <li class="item-upload" id="uploadImg">保存</li>
            <li class="item-cancel" id="uploadCancel">取消</li>
        </ul>
    </div>

</body>

<!-- <script src="http://www.jq22.com/jquery/2.1.1/jquery.min.js"></script> -->
<script src="https://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="../public/lib/iscroll-zoom.js"></script>
<script src="../public/lib/hammer.js"></script>
<!-- <script src="js/lrz.all.bundle.js"></script> -->
<script src="../public/lib/jquery.photoClip.js"></script>
<script src="../dist/portrait/index.js "></script>

</html>