<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>间推会员</title>
    <script src="../public/lib/rem.js" inline></script>
    <!-- <link rel="stylesheet" href="../public/stylesheets/common.css"> -->
    <!-- <link rel="stylesheet" href="../assets/subMember/index.css"> -->
</head>

<body>
    <div class="container">
        <div class="member-list">
            <div class="list-title">
                <p class="list-title-inner">
                    <span class="name"></span>
                    <span class="card-type"></span>
                    <span class="status"></span>
                    <span class="phone"></span>
                </p>
            </div>
            <div class="list-main">

            </div>
            <div class="more-link" style="display: none;">查看更多</div>
        </div>
    </div>
</body>
<script src="../public/lib/zepto.js"></script>
<script src="../dist/subMember/index.js "></script>

</html>